{% extends 'base.html.twig' %}

{% block title %}Accueil - Couronne Eclatante{% endblock %}

{% block body %}
         <img src="{{asset('images/beautiful_purple_birds.jpg')}}" alt="Image de présentation" class"img500px">
        <h2>Découvrez une expérience exceptionnelle pour gérer vos émotions...</h2>

{% endblock %}



